.boxCrypto {
    width: 65%;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 100px;
    overflow: scroll;
}

.boxCrypto::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.boxInput {
    width: 65%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: fixed;
    background-color: white;
    top: 0;
    padding-bottom: 25px;
}

.input {
    display: flex;
    width: 700px;
    height: 45px;
    padding: 0 45px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    caret-color: black;
    background-color: rgb(245 246 246);
}

.input::placeholder {
    color: rgba(0, 20, 42, 0.6);
}

.discrption {
    width: 100%;
    height: auto;
    margin-top: 100px;

}
@media (max-width: 1200px) {
    .input{
        width: 600px;
    }
}
@media (max-width: 1000px) {
    .input{
        width: 500px;
    }
}
@media (max-width: 900px){
    .boxCrypto{
        height: 800px;
    }
}